
@font-face {
    font-family: 'Bebas Neue';
    src: url(https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2);
}


body{
    font-family: "Bebas Neue", sans-serif;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    background-color: #f5fffa;
    color: darkblue;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;

}

.bookCards{
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 90vw;
    margin: 0 5vw 0 5vw;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    

    --sb-track-color: #efefef;
    --sb-thumb-color: #0a2e91;
    --sb-size: 12px;

    
}


::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

.bookCards::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 13px;
}

.bookCards::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 13px;

}

@supports not selector(::-webkit-scrollbar) {
.bookCards {
    scrollbar-color: var(--sb-thumb-color)
                    var(--sb-track-color);
}
}

.newBook{
    height: 18vh;
    display: flex;
    flex-direction: column;
}

.newBookTitle{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.newBookInputs{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}