.bookCard{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5fffa;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 357px;
    margin: 1vw;
    background-image: url("../../public/book-cover2.png");
    background-position: cover;
    background-repeat:   no-repeat;
    color: white;
}


